services:
  postgres:
    container_name: local-postgres
    image: postgres:16
    restart: always
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rfp_db

  adminer:
    container_name: local-adminer
    image: adminer
    restart: always
    ports:
      - "8080:8080"
